<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="/wishs" method="POST">
        <label for="name">姓名</label>
        <input type="text" id="name" name="name" value="" autocomplete="off">
        <p>
            <label>爱好：</label>
            <input type="checkbox" name="id" value="0" /> 四季发财
            <input type="checkbox" name="id" value="1" /> 绿树成荫
            <input type="checkbox" name="id" value="2" /> 六六大顺
            <input type="checkbox" name="id" value="3" /> 学习进步
            <input type="checkbox" name="id" value="4" /> 早生贵子
            <input type="checkbox" name="id" value="5" /> 吉祥如意
        </p>
        <!-- '四季发财','绿树成荫','六六大顺','学习进步','早生贵子','吉祥如意' -->
        <input type="submit" name="" value="提交">
    </form>
</body>

</html>